<div
  id="<%= dom_id(column) %>" 
  data-column-id="<%= column.id %>"
  class="w-72 shrink-0 h-80 rounded-xl p-4 shadow-md bg-base-200 hover:shadow-xl transition-all border-l-4 <%= column.is_done_column ? 'border-success' : 'border-accent' %>"
  data-controller="column-editor column-settings"
  data-column-settings-board-id-value="<%= column.board_id %>"
  data-column-settings-column-id-value="<%= column.id %>"
  data-column-settings-current-position-value="<%= column.position %>"
>
  <%= render 'columns/column_header', column: column %>
  <%= render 'columns/column_delete_modal', column: column %>
</div>