<aside class="bg-base-200 shadow-lg h-full transition-all duration-300 ease-in-out z-20 fixed top-0 left-0 overflow-hidden w-64"
       data-controller="sidebar"
       data-sidebar-target="sidebar">

  <button class="btn btn-circle btn-ghost absolute top-4 left-4 text-xl z-30"
          data-action="click->sidebar#toggle"
          data-sidebar-target="toggle"
          aria-label="Toggle sidebar"
          aria-expanded="true"
          data-turbo-permanent>
    <i class="fas fa-arrow-left" data-sidebar-target="icon"></i>
  </button>

  <div class="mt-16 flex flex-col items-center text-center px-4">
    <% if current_user.avatar_url.present? %>
      <%= image_tag current_user.avatar_url, alt: "Avatar", class: "w-16 h-16 rounded-full mb-2 object-cover" %>
    <% else %>
      <div class="w-16 h-16 mb-2 rounded-full bg-base-300 flex items-center justify-center text-base-content text-2xl">
        <i class="fas fa-user"></i>
      </div>
    <% end %>
    <p class="text-lg font-semibold">Olá,</p>
    <p class="font-bold text-base-content mb-4"><%= current_user.full_name %></p>
  </div>


  <ul class="menu menu-compact w-full px-2">
    <li class="w-full">
      <%= link_to home_path, class: "text-lg hover:bg-base-300 rounded flex items-center gap-3 w-full px-3 py-2" do %>
        <i class="fa-solid fa-house"></i>
        <span>Home</span>
      <% end %>
    </li>
    <li class="w-full">
      <%= link_to boards_path, class: "text-lg hover:bg-base-300 rounded flex items-center gap-3 w-full px-3 py-2" do %>
        <i class="fa-solid fa-table-columns"></i>
        <span>Boards</span>
      <% end %>
    </li>
  </ul>

  <div class="absolute bottom-6 left-0 w-full px-4">
    <%= button_to destroy_user_session_path, method: :delete, class: "btn btn-outline btn-error w-full flex items-center gap-3 justify-center" do %>
      <i class="fa-solid fa-right-from-bracket"></i>
      <span>Logout</span>
    <% end %>
  </div>
</aside>
